[Unit]
Requires=tailscaled.service
After=tailscaled.service
[Service]
ExecStart=tailscale up --login-server=https://samcday-headscale.fly.dev --authkey=file:${CREDENTIALS_DIRECTORY}/authkey --accept-dns --accept-routes
LoadCredential=authkey:/etc/ts-auth-key
RemainAfterExit=yes
Type=oneshot
[Install]
WantedBy=tailscaled.service
